@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


:root {
  --background: #0A0A0A;
  --foreground: #ededed;
  --black:#0A0A0A ;
  --red:#E24C4C;
  --yellow:#FEC97C;
  --purple:#9773BD;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --black:#0A0A0A ;
    --red:#E24C4C;
    --yellow:#FEC97C;
    --purple:#9773BD;
  }
}

body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #0a0a0a;
 
  color: white;
  min-height: 100vh;
}

.section-two {
 background-image: radial-gradient(ellipse at top, #d3732915, transparent 50%);
  background-color: #0a0a0a;
   color: white;
}

.lol {
  color: #0A0A0A;
  mix-blend-mode:difference;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* белые стрелки */
}

.swiper-pagination-bullet {
  background-color: #9ca3af; /* серый */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ef4444; /* красный (активная) */
}


/* From Uiverse.io by xXJollyHAKERXx */ 
.spinner {
  background-image: linear-gradient(135deg, #ff9f1c 25%, #ff6f00 60%, #ffba08 90%);
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 
    0px -5px 20px 0px rgba(255, 159, 28, 0.9),
    0px 5px 20px 0px rgba(255, 111, 0, 0.9),
    0px 0px 30px 10px rgba(255, 186, 8, 0.6);
}


.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}